extends layout

block content
 .container
  #slider
    ul.slides
      li.slide.slide1
        img(src='images/slider1.jpg')
      li.slide.slide2
        img(src='images/slider2.jpg')
      li.slide.slide3
        img(src='images/slider3.jpg')
      li.slide.slide4
        img(src='images/slider4.jpg')
      li.slide.slide5
        img(src='images/slider5.jpg')
      li.slide.slide1
        img(src='images/slider1.jpg')
 script(src='/javascripts/MainController.js')