extends layout

block content
 h2
  | Gebouw
 p
  | De Brielpoort is een polyvalente zaal van ca. 1800 m² (60 op 28 meter).
  | Met zijn apart sanitair, 2 togen en een podium van 60m² groot is het de perfecte locatie voor een feestje als dit.
  | Aan de inkom worden de tickets gecontroleerd en krijg je een bandje. Dit bandje geeft u toegang tot het gebouw voor de rest van de avond.
 p  
  | Opgelet: geen tickets gereserveerd=geen bandje!
 h2
  | Locatie
 p
  | De zaal is makkelijk bereikbaar, hij ligt dicht bij een grote baan.
  | Er zijn in totaal meer dan 200 parkeerplaatsen beschikbaar, dus er zal altijd wel een plaatsje vrij zijn indien u
  | met de auto komt of iemand afhaalt/ophaalt.
  | Er is ook een gezellig park niet ver van het gebouw indien u toch nog een kleine wandeling wil maken na al dat gefeest.

 h2
  | Google Maps
 p
  |Hieronder vindt u de positie van de locatie op google maps.

 .map_frame
  iframe(id="maps" src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2511.980617279959!2d3.52345631549952!3d50.97954887955192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c36b6750449e97%3A0x70f697fdef1f2a7a!2sBrielpoort!5e0!3m2!1snl!2sbe!4v1575718118322!5m2!1snl!2sbe' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')
 