doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title TranceFUSION: Geometric World Edition
  meta(name='description' content='Labo opdracht internetapplicaties voor KU Leuven')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
body
.header
  h1 TranceFUSION: Geometric World Edition
.topnav
  a(href='/index') Home
  a(href='/info') Algemene Info
  a(href='/info-plaats') Locatie
  a(href='/tickets') Reservatie Tickets
  a(href='/sponsors') Sponsors
  a(href="javascript:void(0);" onclick="myFunction()")
    i.fa.fa-bars
  
.content
  block content

footer
  p tel: +32494542898
  p mail: info@trancefusion.be
  p een organisatie van Scouts en Gidsen Deinze