extends layout

block content
 p
  | Graag bedanken we hierbij onze sponsors, zonder welke dit feest nooit gebeurd was.
 h2
  | FILLIERS
 p
  | Al sinds 1792 is Filliers DE kwaliteitsstandaard voor graanjenevers en andere alcoholische dranken. Vanuit Leerne produceert Filliers graanjenever, vodka, whisky en gin. Deze smakelijke bereidingen zullen uiteraard ook op TranceFUSION aanwezig zijn.
 a.foo_link(href='http://www.filliers.be/nl', target='_blank') Meer info
 h2
  | HUURLAND
 p
  | Huurland is een familiaal verhuurbedrijf  dat kleine en middelgrote bouw- en tuinbedrijven ontzorgt door uitstekende verhuuroplossingen aan te bieden voor bouw & renovatie, installatie, afwerking, aanleg & onderhoud. Huurland bedient al 45 jaar lang jaarlijks meer dan 30.000 klanten.
 a.foo_link(href='https://www.huurland.be/nl/home', target='_blank') Meer info
 h2
  | PARFUMERIE DECALUWE
 p
  | Reeds meer dan 50 jaar…
 p
  | Parfumerie Decaluwé in de Stationsstraat te Deinze zorgt al 50 jaar voor een vijfsterrenschoon- en frisheid. Deze exclusieve zaak in parfumerie- en schoonheidsproducten viert dit jubileum op een gepaste manier en wil in de toekomst op een drempelverlagende wijze en met een verruimd gamma en nieuwigheid zowel dames als heren bekoren. Dat is trouwens geen probleem want zaakvoerster Chrischa Decaluwé runt de zaak als schoonheidsspecialiste op professionele basis. Haar tips voor wie geen weg weet in de waaier schoonheidsproducten, die momenteel op de markt zijn en waarmee de publiciteit iedereen bestookt, zijn goud waard.
 a.foo_link(href='http://www.parfumeriedecaluwe.be/index.html', target='_blank') Meer info
 h2
  | DE JANS
 p
  | Sanitaire installaties, waterbehandeling, ventilatie, platte daken in epdm of roofing, koper en zink-werken. In dit vakgebied probeert De Jans samen met 8 deskundige technici een goede kwaliteit en service te leveren. Bij elk nieuw project zorgen wij ervoor dat wij samen met u uw droom tot een goed einde brengen.
 a.foo_link(href='https://www.de-jans.be/', target='_blank') Meer info
 h2