extends layout

block content
 h2
  | INFO
 p
  | Op zaterdag 17 oktober 2020 organiseert Scouts en Gidsen Deinze opnieuw het feestje van het jaar! Je hoort het goed: TranceFUSION is back! Het gekende concept trekt al jaren massa&rsquo;s feestvierders naar het bescheiden Deinze voor een party van formaat. Ook dit jaar kon dit feestje dus niet uitblijven.
 p
  | Thema van dit jaar is Geometric World, verwacht je dus aan maar aan tal van frisse idee&euml;n, gecombineerd met jaren ervaring in de business. Scouts en Gidsen Deinze timmert met hun concepten al jaren aan de nieuwe fuifstandaard. Ook dit jaar wordt het dus een niet te missen spektakel.
 h2
  | PRAKTISCH
 p Brielpoort, Lucien Matthyslaan 9, 9800 Deinze
 p Zaterdag 17 oktober 2020
 p Deuren om 21:00
 p &euro;7 VVK
 p &euro;9 ADK
 h2
  | LINE-UP
 p &#x2716; 21:00 - 22:30 | O-Beats b2b Mike Cristiano &#x2716;
 p &#x2716; 22:30 - 00:00 | Thomassive &#x2716;
 p &#x2716; 00:00 - 03:00 | Beatpounce &#x2716;
 p &#x2716; 03:00 - 04:00 | Dj pinne &#x2716;
 h2
  | FACEBOOK
 p Volg ons ook op Facebook:
 iframe(src='https://www.sociablekit.com/app/embed/31643' frameborder='0' width='100%' height='1000')
 
